.content

  = render "shared/side_bar"

  .content__main
    .content__main-header
      .content__main-header__group-box
        .content__main-header__group-box__group-name
          = @group.name
        .content__main-header__group-box__group-members
          - @group.users.each do |user|
            = user.name
      .content__main-header__edit
        = link_to edit_group_path(@group), class: "contents__btn", data: {"turbolinks" => false} do
          Edit
    .message
      = render partial: 'message', collection: @messages
    .form
      = form_for [@group, @message] do |f|
        .form__box
          =f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'image', class: 'icon'
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
        
